*{padding:0;
margin:0;}

body{font-family:arial;
font-size:14px;}

.template{width:100%;margin:0 auto;}
.template_fluid{width:990px;
margin:0 auto;}
.clear{overflow:hidden;}

/*Start Coading For Head Menu*/

.head_menu_flud{
	float:left;
	background-image:url('../images/head-menu.png');
    border-bottom:2px solid #cccccc;
}

.head_menu{
}
.head_menu ul{}
.head_menu ul li{display:inline-block;}
.head_menu ul li a{text-decoration:none;
color:#000;
display:block;
padding:9px;}

.head_menu_left{width:800px;
float:left;}
.head_menu_right{width:190px;
float:right;
text-align:right;}

.head_menu_right img{padding:0px 3px;
}
/*Start Coading For Header*/
.header{}
.logo{width:200px;
float:left;
padding:34px 0px;

}
.banner{float:right;
width:790px;
padding:11px 0px;
text-align:right;}
/*Start Coading For Menu*/

.menu_fluid{background-image:url('../images/main-menu.png');
background-repeat:repeat-x;
border-top:2px solid #bc1f0f;
border-bottom:2px solid #bc1f0f;
}

.menu{}
.menu ul .active{background:#d13d0d ;}
.menu ul li{display:inline-block;}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 28px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.menu ul li a:hover{background:#d13d0d;}

/* Start cod for Content*/
.content{background:#fff;
box-shadow:0px 0px 10px #ccc;
float:left;
padding: 20px 15px;}

.content_left {
    width: 615px;
    float: left;
    padding-right: 35px;
}
.slide{padding-bottom:10px;}
.post{border-bottom:1px solid #ccc;float:left;
padding-bottom:20px;
padding-top:20px;}
.images{width:220px;
 float:left;}
.images img{border:10px solid #f3f3f3;}
.post_content{width:375px;
padding-left:20px;
float:left;}
.admin {
    height: 20px;
}
.admin a{color:#ff0000;
text-decoration:none;}
.admin_left {
    width: auto;
    float: left;
}
.admin_right{width:auto; float:right;}

.post_content h2{padding: 15px 0px;
color:#373737;}
.post_content p{}
.readmore{
    padding: 15px 0;
    color: #ff0000;
    display: inline-table;
	text-decoration:none;
}
 /* Start cod for Pagination*/
.pagination {
    color: #868686;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    float: left;
    padding-top: 15px;
}
.pagination a{text-decoration:none;
color:#ff0000;}
  /* Start cod For Right Content*/
.content_right{width:310px;
float:right;}
 /* Start cod for Form*/
 .content_right form {
    padding: 15px 0;
    display: block;
}
.text {
    padding: 10px;
    width: 182px;
    border: 1px solid #ccc;
}
.submit{width:100px;
padding:10px;
border-radius:6px;
color:#ff0000;
border:2px solid #ccc;
font-weight:bold;
}
 /* Start cod for Categories*/
 
.categories{padding:20px 0;}
.heading{
    color: #01b2bf;
    border-bottom: 10px solid #e6e6e6;
    text-transform: uppercase;
}
.categories_left{width:50%;
float:left;
}
.categories_right{width:50%;
float:right;}
.categories ul{}
.categories ul li{list-style:none;}
.categories ul li a {
    text-decoration: none;
    color: #535353;
    display: block;
    padding: 8px 0;
}
 /* Start cod for Latest Post*/
.latest_post{padding: 20px 0; width:100%; float: left;}
.latest_post ul{display: inline-block;}
.latest_post ul li img{float: left; border: 2px solid #ccc; margin-right: 15px;}
.latest_post ul li{list-style: none;}
.latest_post ul li a{text-decoration: none; display: block; padding: 5px; color: #000;}
.latest_post ul li a p{padding-top: 10px;}
 /* Start cod for Footer*/
.footer{background:#f0f0f0;
float:left;
padding:20px 0;
line-height:200%;
}
.footer h1{padding:20px 0px;
color:#01b2bf;
}
.footer1 {
    width: 300px;
    float: left;
    padding-right: 30px;
}
.left_menu{width:45%;
float:left;}
.right_menu{width:45%;
float:right;}

.footer2 ul{}
.footer2 ul li{list-style:none;}
.footer2 ul li a {
    color: #555555;
    text-decoration: none;
}
.footer2{width:330px; float:left;}
.footer3{width:330px; float:left;}
.footer3 a{text-decoration:none;
color:#ff0000;
display:block;
padding:15px 0;}
.last_footer{padding:20px 0; float:left;}
.left{width:630px; float:left;}
.right{width:360px; float:right;}
.right a {
    color: #ff0000;
    text-decoration: none;
}

.copy_left{width:180px; float:left;}
.copy_right {
    width: 150px;
    float: left;
    text-align: center;
    padding-left: 30px;
}












